<p>invoices works!</p>

    <div class="site_content_container page_layout">
    <app-sub-header  (tabsDataToTable)="onTabsDataReceived($event)"></app-sub-header>
    </div>

    <div class="tableContainer page_layout">
        <div class="table_filters">
            <h2>{{dataToTable.title}}</h2>

            <app-generic-input
            class="inputs"
            [taskeInputs]="taskeInputs"
            (InputValue)="handleInputOutput($event)"
         
            ></app-generic-input>
        </div>
        <app-generic-table 
        [allData]="tableInvoiceMockData"
        [tableData]="tableData"
        [tabsDataToTable]="dataToTable"
        [taskeInputs]="taskeInputs"


        ></app-generic-table>

    </div>


