@import '../../style/main.scss';
.site_content_container{
    margin-bottom: 20px;
}
.tableContainer{
    background-color: $background-white;
    .table_filters{
        display: flex;
        justify-content: space-between;
        margin-inline: 16px;
        height: 64px;
        align-items: center;
    }
    .inputs {
        display: flex;
        justify-content: space-between; /* or other flex properties */
        align-items: center; /* adjust depending on how you want to align children */
        gap: 16px;
          }        
    }

// .not_found_data{
//     height: 70vh;
//     .img_container{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin-top: 124px;

//         img{
//             width: 62px;
//             height: 62px;
//         }
//         .not_found_text{
//             font-size: 20px;
//             font-weight: 400;
//             color: $not_found_black;

//         }
//     }
// }