
<div class="input_container"  *ngFor="let input of taskeInputs ; let i = index">
    <div [ngSwitch]="input.type" class="input_type">
        <div *ngSwitchCase="'text'" class="text_input_container">
           <label *ngIf="input.label">{{ input.label }}</label>
           <img class="search_img" [src]="input.icon" alt="">
            <input
            class="text_input"
              [placeholder]="input.placeHolder"
              [(ngModel)]="input.value"
              (input)="onChnageValue($event,i)"
            /> 
          </div> 
<div class="selectContainer"  *ngSwitchCase="'select'">
  <button class="select_input_container"  (click)="toggleDropdown()">
    <!-- <p *ngIf="input.placeHolder">{{ input.placeHolder+ ' ' +input.value}} </p> -->
    <p *ngIf="input.placeHolder">{{ input.placeHolder}}  {{ input.value === '' ? input.options?.[0] : input.value }} </p>
    <div class="select_input">
      
    </div> 
    <img class="select_chevron" 
    [src]="input.icon" 
    alt=""
    [class.rotated]="isDropdownOpen"

    >
  </button> 
  <div *ngIf="isDropdownOpen" class="dropdown_options">
    <button 
    class="dropdown_option" 
    *ngFor="let option of input.options" 
    (click)="selectOption(option,i)"
    >
    {{ option }}
  </button>
  
  
</div>
</div>


</div>
</div>
