@import '../../style/main.scss';
.header_container{
    width: 100vw;
    background-color:$background-white ;
    height: 100px;
    box-shadow: $header-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    .start_container{
        margin-inline-start: 40px;
        // border: 1px solid green;
        display: flex;
        align-items: center;
        gap:36px;
        height: 100%;
        .header_links{
            height: 100%;
            display: flex;
                align-items: center;            
            .item{
                display: inline-block;
                padding-inline-end: 36px;
                font-family: $main_font;
                font-size: 18px;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            .active {
                font-family: $bold_font;
                font-weight: bold !important; 
                text-decoration: underline;

                a{
                    border-bottom: 2px solid black;
                }
              }
        }

    }
    .end_container{
        // border: 1px solid green;
        margin-inline-end: 40px;
        display: flex;
        gap: 24px;
        .user_contianer{
            display: inline-block;
            align-self: center;
            .user_image{
                display: inline-block;
                vertical-align: middle;  // Align text vertically in the middle

            }
            .user_name{
                display: inline-block;
                vertical-align: middle; 

            }

            &::after{
                content:'';
                width: 1px;
                height: 17px;
                display: block; 
                background-color:  $grey;
                display: inline-block;
                margin: 0 8px;

            }

        }
        .select_bottom{
            position: relative;
            .button_text{
                display: inline-block;
                margin-inline-end: 8px;
                         }
            .chevron_down{
                
            }
            .chevron_up{
                rotate: 180deg;
                
            }
            
        }

    }
    .select_menu{
        // border: 1px solid red;
        position: absolute; 
        bottom: 0;
        transform: translateY(100%);
        left:0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all ease 0.5s;
        width: 151px;
        height: 176px;
        box-shadow: $drawer-shadow;
        &.select_menu_open{
            min-height: 176px;
            padding: 8px;
            border: 1px solid rgba(190, 190, 190, 1);
            border-radius: 8px;
            background-color: $background-white;
        
        
       }

       .list{
        .list_item{
            display: flex;
            align-items: center; 
            gap: 8px; 
            padding-inline-start: 8px;
            background-color:$background_menu_item;
            height: 32px;
            margin-bottom: 4px;
            padding: 0 8px; 
            cursor: pointer;

            button{
                cursor: pointer;
            }
        }
        .last_item{
        }
        .divider{
            height: 16px;
        }

       }
    }
    
}
.header_links .item a.active {
    font-family: 'Almoni-Bold', sans-serif !important;
  }
  