@import '../../style/main.scss';

.tableContainer{
    background-color: $background-white;
    .table_filters{
        display: flex;
        justify-content: space-between;
        margin-inline: 16px;
        height: 64px;
        align-items: center;
    }
    .inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
          }      
}