<table class="table">
    <tbody class="table_body">
        <tr class="row" *ngFor="let item of dataToDisplay">
            <ng-container *ngFor="let column of TableStructure">
                <ng-container [ngSwitch]="column.type">
            <td  class="name" *ngSwitchCase="'text'">
                {{item.name}}
            </td>
            <td class="price" *ngSwitchCase="'price'">
                &#8362;{{item.totalAmount}}
            </td>
            <td class="graph_container" *ngSwitchCase="'graph'">
                <div class="graph" [style.width]="getGraphWidth(item.totalAmount)">
                </div>
            </td>
            <td class="img" *ngSwitchCase="'indicator'">
                <img *ngIf="item.flag" src="../../../assets/images/yellow_mark.svg" alt="">
            </td>
            <td class="date" *ngSwitchCase="'date'">
               {{formatDateForTemplate(item.date ? +item.date : 0)}}
            </td>
            <td class="status" *ngSwitchCase="'status'">
               <div class="status_item" [ngClass]="item.status==='התקבל פירוט'?'greenContainer':'yellowContainer'">
                <p>    
                    {{item.status}}
                </p>
               </div>
            </td>
        </ng-container>
        </ng-container>
        </tr>

    </tbody>
</table>
<div class="pagination_container">
   <button class="prev_btn" (click)="pagination('prev')">

    <img 
    [src]="currentPage>=1?' ../../../assets/images/pagination_active.svg':'../../../assets/images/pgination_disabled.svg'"
    src="../../../assets/images/pagination_active.svg" alt="prev button">
   </button>
   <div class="pages">

       <p class="total_pages">{{totalPages}}</p>
       <p class="sign">/</p>
       <p class="page_number">{{currentPage}}</p>
    </div>
   <button class="next_btn" [ngClass]="currentPage!=totalPages?'':'rotate_btn'" (click)="pagination('next')">
    <img [src]="currentPage!=totalPages?' ../../../assets/images/pagination_active.svg':'../../../assets/images/pgination_disabled.svg'" alt="next button">
   </button>
</div>