@import '../../style/main.scss';
.table{
    width: 100%;
    margin: 24px 0 16px 0;
    .table_body{
        .row{
            font-size: 16px;
            border-bottom:1px solid $costomers-table-border ;
            height: 52px;
            .name{}
            .price{}
            .graph_container{
                width: 213px;
                border-right: 1px solid $costomers-table-border;
                padding: 0;
                
                .graph{
                    height: 10px;
                    background-color: blue;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;

                }
            }
            .status{
                .greenContainer{
                    border: 1px solid rgba(28, 125, 17, 0.2);
                    background-color: rgba(243, 252, 233, 1);
                    p{
                        color: rgba(35, 99, 28, 1);
                        ;
                    }

                }
                .yellowContainer{
                    background-color: rgba(255, 225, 0, 0.1);
                    border: 1px solid rgba(255, 225, 0, 0.6);
                    p{
                        color: rgba(109, 97, 17, 1);

                    }
                }
                .status_item{
                    // border: 1px solid black;
                    border-radius: 16px;
                    // padding: 8px;
                    p{
                        height: 24px;
                        width: 86px;
                        font-size: 14px;
                        align-items: center;
                        align-content: center;
                        place-self: center;
                    
                       
                      
                    }

                }
            }

        }
    }

}
.pagination_container{
    display: flex;
    width: 100%;
    .prev_btn{
    img{
        
    }
    }
    .next_btn{
    img{
        transform: rotate(180deg);

    }
    }

    .pages{
        .page_number{
            display: inline-block;
            margin-inline-end: 8px;
            
        }
        .total_pages{
            display: inline-block;
            margin-inline-start: 8px;

        }
        .sign{
            display: inline-block;

        }
    }

}

.rotate_btn{
    transform: rotate(180deg);
}