<div class="container">
    <table class="table">
        <thead class="table_head"
         >
            <tr class="title_row">
             

                    <th class="titles" *ngFor="let colData of allData">
                        <div class="title_container">
                            <p class="title">{{ colData.title }}</p>
                            <button class="sort_btn" *ngIf="colData.sort" (click)="sortData(colData)">
                                <img class="sort_image" src="../../../assets/images/arrow_down.svg" alt="arrow down sort image">
                            </button>
                        </div>
                    </th>
            </tr>
        </thead>
        <tbody class="table_body" >
          
            <ng-container  *ngFor="let rowData of tableData; let j = index">

                <tr class="table_row" 
                (click)="close(rowData)"
                tabindex="0"
                role="button">
                    <td class="table_data_container"
                    *ngFor="let column of allData"   
                    >
                    <div class="switch_container" [ngSwitch]="column.type">
                        <div class="text"  *ngSwitchCase="'flag'">
                            <img *ngIf="rowData.isMarked" src="../../../assets/images/flag_sign.svg" alt="sign flag">
                        </div>
                        <div class="text"  *ngSwitchCase="'text'">{{rowData[column.controlName]}}</div>
                        <div class="text"  *ngSwitchCase="'date'">{{formatDate(rowData[column.controlName])}}</div>
                    
                        <span  *ngSwitchCase="'status'" class="status_cintainer">
                        <div 
                       
                        [ngClass]="{
                            'status': rowData[column.controlName] === 'ללא תגובה' || 
                                     rowData[column.controlName] === 'נדחתה' ||
                                     rowData[column.controlName] === 'נשלחה' ||
                                     rowData[column.controlName] === 'אושר לתשלום',
                            'no_comment': rowData[column.controlName] === 'ללא תגובה',
                            'rejected': rowData[column.controlName] === 'לא נשלחה',
                            'didnt_send': rowData[column.controlName] === 'נדחתה',
                            'sent': rowData[column.controlName] === 'נשלחה',
                            'agreed': rowData[column.controlName] === 'אושר לתשלום'
                        }"
                    >
                    <img  
                    *ngIf="rowData[column.controlName] === 'לא נשלחה'"
                    src="../../../assets/images/indicator.svg" 
                    alt="didnt send indicator"
                    [matTooltip]="'שליחת החשבונית נכשלה. יש לבדוק שהמייל תקין.'"
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="0"
                    matTooltipClass="custom_tooltip"
                 
                    >
                        <p>
                            {{ rowData[column.controlName]|json }}
                        </p>
                      
                    </div>
                    <img  *ngIf="rowData[column.controlName] === 'אושר לתשלום'"
                    src="../../../assets/images/agreed.svg" alt="payment agree sign">
                </span>
                    </div>
                    
                    
                </td>
            </tr>
        </ng-container>

        </tbody>
     
      




    </table>

    <div *ngIf="tableData.length<=0" class="not_found_data  page_layout">
        <div class="img_container" *ngIf="tabsDataToTable?.title==='חשבוניות במעקב'" >
            <img class="no_found_img" src="../../../assets/images/no-invoices.svg" alt="">
          <p class="not_found_text">לא נמצאו חשבוניות</p>
          <!-- <p>אין כרגע חשבוניות סטטוס נדחו ע"י הלקוח</p> -->
        </div>
       
        <div class="img_container" *ngIf="tabsDataToTable?.title === 'נדחו ע&quot;י הלקוח'">
            <img class="no_found_img" src="../../../assets/images/no-reject-invoice.svg" alt="">
            <p class="not_found_text">אין כרגע חשבוניות בסטטוס <br/>
           נדחו ע"י הלקוח </p>

          <!-- <p>אין כרגע חשבוניות סטטוס נדחו ע"י הלקוח</p> -->
        </div>

      </div>

</div>
