@import '../../style/main.scss';
*{
    font-family: $main_font;
}
.container{
    width: 652px;
    height: 704px;
    background-color:  $background-white;
    border-radius: 8px;
    padding:16px ;

   .title{
    height: 36px;
    font-size: 22px;
    font-weight: 500;
    font-family: $bold_font;
    
}

      
}

