<p>customers works!</p>
<div class="page_layout flexPage">

    <app-incoives-summary
    [invoicesData]="invoicesData"
    [selectedTab]="selectedTab"
    [highestPrice]="highestPrice"
    ></app-incoives-summary>

    <div class="container">  
        <h2 class="title">סה"כ תקבולים פתוחים</h2> 
        <div class="prices_container">
            <p class="item">
            
                {{'12449.56'.toLocaleString()}}
                <span>
                    &#8362;
                </span> 
            </p>
            <p class="item">
            
                {{'12449.56'.toLocaleString()}}
                <span>
                    &#36;
                </span> 
            </p>
            <p class="item">
            
                {{'12449.56'.toLocaleString()}}
                <span>
                    &#8364;
                </span> 
            </p>
            <!-- <p class="item">
               {{'12449.56'.toLocaleString()}}
            </p>
            <p class="item">
              {{'12449.56'.toLocaleString()}}
            </p> -->
        </div>
        
        <app-invoices-display-data
        [invoicesData]="totalData"
        [highestPrice]="highestPrice"
        [TableStructure]="totalDataStructur">
    </app-invoices-display-data>
</div>

</div>