@font-face {
  font-family: "Heebo Regular";
  src: url("/assets/fonts/Heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
$main_font:'Heebo Regular';

$fontSize-12: 12px;
$fontSize-14: 14px;
$fontSize-16: 16px;
$fontSize-18: 18px;
$fontSize-22: 22px;


$card-title: 20px;
$sub-header-numbers:48px;

$table-title:14px;
$table-text:16px;
