<div class="page_layout flex_container">
    <div class="cardsData">

        <app-customer-info-card class="space_containers"
        [customerData]="customerData">
    </app-customer-info-card>
    
    <app-contact-card 
    [customerData]="customerData"
    >
    
</app-contact-card>
</div>
<div class="tableData">
 <div class="cards" >

        <div class="card" *ngFor="let text of customerTableCards">
            <h4><span class="currencySign">₪</span>{{customerData.total_payment_amount|json}}</h4>
            <p class="text">{{text.text}}<span>(1)</span></p>
        </div>
        
  
 </div>
 <div class="table_contaier">
    <!-- <div class="marked_invoices">

    </div> -->
    <div class="table">
        <div class="title_and_inputs">
            <p class="title">חשבוניות במעקב</p>
            <app-generic-input
            class="inputs"
            [taskeInputs]="taskeInputs"
            (InputValue)="handleInputOutput($event)"
            (optionSelected)="handleOptionSelected($event)"
            ></app-generic-input>
        </div>
       <div class="table_and_tabs">
        

           <div class="marked_invoices">
            <ul>
                <li [ngClass]="{actvieTab: activeTab===''}">
                    <button (click)="selectProject('הכל')" >
                        כל הפרוייקטים
                    </button> </li>
                <li *ngFor="let projectNum of uniqueProjects" [ngClass]="{actvieTab: activeTab===projectNum}">
                    <button 
                    (click)="selectProject(projectNum)"
                    >{{projectNum}}</button>
                </li>
            </ul>  
        </div>
    
        <app-generic-table 
        [allData]="tableInvoiceMockData"
        [tableData]="sortedData()"
        [sortData]="sortData.bind(this)"
        [currentSortColumn]="currentSortColumn()"
        
        
        ></app-generic-table>
    </div>
    </div>

 </div>
</div>


</div>