@import '../../style/main.scss';

.flex_container{
    display: flex;
    gap: 32px;
    font-family: $main_font;
}

.cardsData {
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.tableData{
    background-color:  $background-white;
    border-radius: 8px;
    padding: 16px;

    .cards{
        height: 96px;
        display: flex;
        gap: 16px;
        margin-bottom: 48px;
        .card{
            flex: 1;
            border-radius: 8px;
            // border: 1px solid blue;
            padding: 16px 32px 16px;
            background-color: rgba(239, 230, 253, 0.4);
            ;

            h4{
             font-size: 40px;   
             margin-bottom: 16px;
            }
            .text{
                font-size: 18px;
                color: $subHeader_title;
                white-space: nowrap;
            }
.currencySign{
    font-size: 24px;

}
        }
    }

    .table_contaier{
        display: flex;
        width: 710px;
        margin-inline-start: 10px;
        

        .marked_invoices{
            width: 142px;
            height: 254px;
            // border: 1px solid blue;
            ul{
                li{
                 border-right: 1.5px solid $sent_border;
                 margin-bottom: 2px;
                 button{
                     padding: 13px 16px 13px 0;
                     font-size: 18px;
                    }
                }
                .actvieTab{
                    border-right: 3px solid $sent_border;
                    button{

                        font-weight: 700;
                    }

                }
            }

        }
        .invoicesTable{
            width: 700px;

        }
        .table{
            .title_and_inputs{
                display: flex;
                justify-content: space-between;
                width: 798px;
                .title{
                    font-size: 22px;
                    font-weight: 700;
                }
                .inputs{
                    display: flex;
                    gap: 16px;
                }

            }
            .table_and_tabs{
                display: flex;
            }

        }

    }
    

}