@import '../../style/main.scss';

.flex_container{
    display: flex;
    gap: 32px;
    
}

.cardsData {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tableData{
    background-color:  $background-white;
    border-radius: 8px;
    padding: 16px;

    .cards{
        height: 96px;
        display: flex;
        gap: 16px;
        margin-bottom: 48px;
        .card{
            flex: 1;
            border-radius: 8px;
          
            border: 1px solid blue;


        }
    }

    .table_contaier{
        display: flex;
        

        .marked_invoices{
            width: 142px;
            height: 254px;
            border: 1px solid blue;

        }
        .table{
            width: 798px;
            .inputs{
                display: flex;
                gap: 16px;

            }

        }

    }
    

}